.header {
    position: relative;
    max-width: 100vw;
    margin-left: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &__logo {
        font-size: $font-size-xl;
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-between;
        // background-color: $main-color;
        background-color: white;
        color: black;
    }

    &__toggle {
        // display: none;
        position: absolute;
        font-size: 5rem;
    }

    ul {
        list-style: none;
        background-color: $main-color;
        
        li {
            padding: $space-xs $space-m;
            transition: background 0.3s ease-in-out;

            &:hover {
                background-color: $color-tertiary;
            }
        }
    }


    &__menu {
        display: flex;
        align-items: center;

        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
  
    }
    a {
        text-decoration: none;
        color: $color-white;
        font-size: $font-size-xs;
    }
}

