.section {
    width: 100%;
    height: 100%;
    h1 {
        font-weight: 700;
        line-height: $line-height-body;
        color: $color-text-section;
        text-transform: uppercase;
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $space-m;
        padding: $space-m;
        background-color: $main-color;

        h6 {
            color: white;
            font-size: $font-size-h6;
        }
    }
}

.why {
    background-image: linear-gradient(to right bottom, rgba(227, 235, 78, 0.322), rgba(34, 80, 230, 0.376)), url('../../images/techbg.jpg');   
    background-size: cover; 
    background-position: center;
}

.title {
    padding: 1rem;
    margin: 1rem;
    color: red;
    background-color: yellowgreen;
    
}