<section class="section">
    <%= render 'slider' %>
    <div class="message">
        <h4>Reliable service Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Obcaecati.</h4>
        <button class="btn btn--small">Get a quote</button>
    </div>
</section>

<div class="service">
    <h4>OUR SERVICES</h4>
    <div class="row">
    <div class="desktop-3 tablet-6 mobile-12">
        <div class="service__item">
            <div class="service__content">
                <h5 class="service__title">IT supply</h5>
                <p class="service__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quisquam, voluptatibus.</p>
            </div>
        </div>
    </div>
 
    </div>
</div>

