<div class="about__content">
<div class="about_text">
    <h5><%= project.title %></h5>
        <p><%= project.descrition %></p>
    
        <%= link_to 'Contact us', '#' %>
</div>   
<div class="about_images">
     <%= image_tag project.image, class: "slider__img" %>
</div>
</div>