<div class="service" id='service'>
    <h1>OUR SERVICES</h1>
    <div class="row">
    <% @projects.each do |project| %>
        <div class="desktop-4 tab-port-6 tab-land-6 phone-12">
            <div class="service__item">
            <%= link_to project_path(project) do %>
                     <% if project.image.attached? %>
                        <%= image_tag project.image, class: "service__img" %>
                    <% else %>
                        <h6>Hello</h6>
                    <% end %>
                <div class="service__content">
                    <h5 class="service__title">
                        <%= project.title %>
                    </h5>
                    <p class="service__desc"><%= project.descrition %></p>
                </div>
            <% end %>
            </div>
        </div>
    <% end %>
    </div>
</div>
