<% flash.each do |key, value|  %>
  <div class="wrapper" data-controller="toast">
    <div class="toast success">
        <div class="outer-container">
        <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="inner-container">          
          <%= content_tag(:p, value, :class => "flash #{key}") %>
        </div>
        <button data-action="click->toast#hide">&times;</button>
    </div>
  </div>
<% end %>