<footer class="interesting-infos">
    <div class="footer-content">
        <div class="footer-section">
            <h3>INTERESTING INFOS</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div>
        <div class="footer-section">
            <h3>Follow</h3>
            <ul>
                <li>on Twitter</li>
                <li>Subscribe to RSS Feed</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>ENFOLD CONSTRUCTION</h3>
            <p>1818 N Vermont Ave<br>Los Angeles, CA, United States</p>
            <p>(555) 774 433<br>hello@en-co.com</p>
            <p>OFFICE HOURS<br>Mo-Fr: 8:00-19:00<br>Sa: 8:00-14:00<br>So: closed</p>
        </div>
        <div class="footer-section">
            <h3>LATEST PROJECTS</h3>
            <ul>
                <li>Project 6 – Living Room Design<br>October 30, 2015 - 5:09 pm</li>
                <li>Project 5 – More Interior<br>October 30, 2015 - 5:07 pm</li>
                <li>Project 4 – Office Tower<br>October 21, 2015 - 3:47 pm</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="">Home</a>
    </div>
</footer>
